apiVersion: v1
kind: ConfigMap
metadata:
  name: fraud-detection-config
  namespace: fraud-detection
data:
  DETECTION_WINDOW_SECONDS: "5"
  DETECTION_THRESHOLD: "5"
  CLICKHOUSE_URL: "http://clickhouse:8123"
  REDIS_URL: "redis://dragonfly:6379"
