apiVersion: apps/v1
kind: Deployment
metadata:
  name: dragonfly
  namespace: fraud-detection
  labels:
    app: dragonfly
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dragonfly
  template:
    metadata:
      labels:
        app: dragonfly
    spec:
      containers:
      - name: dragonfly
        image: docker.dragonflydb.io/dragonflydb/dragonfly
        ports:
        - containerPort: 6379
        resources:
          limits:
            memory: "2Gi"
            cpu: "2"
          requests:
            memory: "1Gi"
            cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: dragonfly
  namespace: fraud-detection
spec:
  selector:
    app: dragonfly
  ports:
  - port: 6379
    targetPort: 6379
